The function of the preface is to get readers ready to read the book. It does so by characterizing the content and purpose of the book, identifying or even briefly describing the product the book supports, explaining the type of reader for whom the book is meant, outlining the main contents of the book, showing any special conventions or terminology used in the book, providing support and marketing numbers, and other such. In traditional book publishing, the preface comes before the table of contents; but as discussed previously in the table of contents section, technical publishing people want the TOC to come earlier in the book for usability reasons.

***

## Preface

Python has become a very popular programing language and there has been no shortage of books, videos and tutorials covering both the basics of the Python language as well as its use for Data Analysis.

Before deciding to write yet another "Data Analysis with Python" book I question myself if the world really needed one. After reviewing the material and information available I am pretty convinced that anyone willing to explore the plethora of material available in the internet can become an expert in Data Analysis with Python, however, the fact that there is so much information available ends up making it dificult for newcomers to know where to start. Moreover, even with the right dose of determination to explore the right sources and documetation, it tends to be difficult to to find the right practical examples to put those concepts in practice.

With these caveats in mind I decided to write "Data Analysis with Python - Theory and Practice" as an attempt to bring both the theoretical concepts of data analysis, the use of Python as well as its core data manipulation libraries as well as practical applications from the business world. 

My personal data analysis and business experience has been based in Enterprise Resource Planning (ERP) platforms, Finance, Treasury, Payments and Product Management and the examples are cleansed and simplified versions of challenges I dealt with in practice over the years.

Given its popularity, flexibility and ease of instalation I chose the Pandas library as the main framework for Dataframe support but I believe that the concepts and techniques reviewed in this book can be easily translated into other frameworks such as Pyspark and Pytables among others.

***

## Book Organization

In order to accomplish this objective each topic is dividing in 3 sections:

    A)Theory
        - In this section I layout the key foundational building blocks and technical concepts of the data analysis process. It's content heavily relies and expands on the Pythons and the Pandas Library documentation.
        - It is designed to serve as a quickly scannable technical guide to Python and Pandas but by no means is meant to replace its formal documentation. Thoughout the book I constantly reffer to the fomal documentatio and well as highly reccomend the reader to further expand its knowledge by becoming familiar with its contents.
    
    
    B)Business Insight
        - This session is intended to provide examples of data analysis techniques and business concepts leveraging the knowledge acquired in section A. Learners will be able expand its knwoledge of data analysis from a practical business perspective.
        - Though out the book we use a simulated e-ccomerce site as a case study example to cover several data analysis practical applications involving data validation, inspecton, cleaning and manipulation. 
        - Recommended to Learners looking to enhance the undertanding of the use of data analysis for business
    C)Practice
        - This session includes practical exercies to help the learners consolidate the concepts reviewed in section A) and B). It is divided in 3 levels:
            - Foundational: Simple practical exercises designed re-inforce the understanding of foudational concepts
            - Mastery: Integrated exercises designed to help you fully master the concepts covered
            - Case Study:  Practical problems designed as a case study allowing the reader to tackle a business problem in a open ended format.

***

## How to Use this book

This book was designed in such a way that chapters and secions do not need to be reviewed in sequence. While newcommers to data analitics and Python will most likely want to start in chapter 1 and review it in sequence, learners that already have a foundation knowledge may use this book as a refference or as a source of practice.

Also, the 3 part design of the sections is intended to help make it scannable for quick passive learning reference of concepts in Section A and  B, while adopting a more hands-on quizz/tutorial stile approach in section C.

***

# Chapter 1 - Introduction to Python, Pandas and Jupyter

## Getting Set Up

Python is the main anlytical tool used thoughout this book. The first step to access all Python functionality is to install or update Python in your computer.
There are several diffent ways to perform this task: you can download and install a package directly from Python.org, instally it with multiple command line utilities or from a package manager.

### Anaconda
At the time of writing, Anaconda is the most popular Python distribution platform. Its biggest advantage is to allow an easy instalation and update of the standard Python libraries as well as other popular packages including Jupiter and the Pandas Library. Visit https://www.anaconda.com/products/individual and follow installation instructions.

### Jupyter
All code development and exercises will use Jupyter Notebooks as the IDE (Integrated Development Enviroment). You may launch Jupyter though its though the Ananconda interface or directly using your computers command line terminas. See b


### Pandas








***

## Brief History of Python


***

## Python Fundamentals

***

## Brief History of Pandas


***

## Pandas Fundamentals

***

In [16]:
import pandas as pd
import numpy as np
import random
from datetime import datetime as dt

In [139]:
ls data

categories.csv    order_detail.csv  products.csv
customers.csv     orders.csv

In [17]:
customers
categories
products
orders
order

#### customers

#### geolocation

#### order items

#### order payments

In [23]:
produts.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [24]:
seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [26]:
product_category_name_translation.head(100)

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]