<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Preface" data-toc-modified-id="Preface-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Preface</a></span></li><li><span><a href="#Book-Organization" data-toc-modified-id="Book-Organization-0.2"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>Book Organization</a></span></li><li><span><a href="#How-to-Use-this-book" data-toc-modified-id="How-to-Use-this-book-0.3"><span class="toc-item-num">0.3&nbsp;&nbsp;</span>How to Use this book</a></span></li></ul></li><li><span><a href="#Chapter-1---Introduction-to-Python,-Pandas-and-Jupyter" data-toc-modified-id="Chapter-1---Introduction-to-Python,-Pandas-and-Jupyter-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Chapter 1 - Introduction to Python, Pandas and Jupyter</a></span><ul class="toc-item"><li><span><a href="#Getting-Set-Up" data-toc-modified-id="Getting-Set-Up-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Getting Set Up</a></span><ul class="toc-item"><li><span><a href="#Anaconda" data-toc-modified-id="Anaconda-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Anaconda</a></span></li><li><span><a href="#Jupyter" data-toc-modified-id="Jupyter-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Jupyter</a></span></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Pandas</a></span></li></ul></li><li><span><a href="#Brief-History-of-Python" data-toc-modified-id="Brief-History-of-Python-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Brief History of Python</a></span></li><li><span><a href="#Python-Fundamentals" data-toc-modified-id="Python-Fundamentals-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Python Fundamentals</a></span></li><li><span><a href="#Brief-History-of-Pandas" data-toc-modified-id="Brief-History-of-Pandas-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Brief History of Pandas</a></span></li><li><span><a href="#Pandas-Fundamentals" data-toc-modified-id="Pandas-Fundamentals-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Pandas Fundamentals</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#customers" data-toc-modified-id="customers-1.5.0.1"><span class="toc-item-num">1.5.0.1&nbsp;&nbsp;</span>customers</a></span></li><li><span><a href="#categories" data-toc-modified-id="categories-1.5.0.2"><span class="toc-item-num">1.5.0.2&nbsp;&nbsp;</span>categories</a></span></li><li><span><a href="#products" data-toc-modified-id="products-1.5.0.3"><span class="toc-item-num">1.5.0.3&nbsp;&nbsp;</span>products</a></span></li></ul></li></ul></li></ul></li></ul></div>

The function of the preface is to get readers ready to read the book. It does so by characterizing the content and purpose of the book, identifying or even briefly describing the product the book supports, explaining the type of reader for whom the book is meant, outlining the main contents of the book, showing any special conventions or terminology used in the book, providing support and marketing numbers, and other such. In traditional book publishing, the preface comes before the table of contents; but as discussed previously in the table of contents section, technical publishing people want the TOC to come earlier in the book for usability reasons.

***

## Preface

Python has become a very popular programing language and there has been no shortage of books, videos and tutorials covering both the basics of the Python language as well as its use for Data Analysis.

Before deciding to write yet another "Data Analysis with Python" book I question myself if the world really needed one. After reviewing the material and information available I am pretty convinced that anyone willing to explore the plethora of material available in the internet can become an expert in Data Analysis with Python, however, the fact that there is so much information available ends up making it dificult for newcomers to know where to start. Moreover, even with the right dose of determination to explore the right sources and documetation, it tends to be difficult to to find the right practical examples to put those concepts in practice.

With these caveats in mind I decided to write "Data Analysis with Python - Theory and Practice" as an attempt to bring both the theoretical concepts of data analysis, the use of Python as well as its core data manipulation libraries as well as practical applications from the business world. 

My personal data analysis and business experience has been based in Enterprise Resource Planning (ERP) platforms, Finance, Treasury, Payments and Product Management and the examples are cleansed and simplified versions of challenges I dealt with in practice over the years.

Given its popularity, flexibility and ease of instalation I chose the Pandas library as the main framework for Dataframe support but I believe that the concepts and techniques reviewed in this book can be easily translated into other frameworks such as Pyspark and Pytables among others.

***

## Book Organization

In order to accomplish this objective each topic is dividing in 3 sections:

    A)Theory
        - In this section I layout the key foundational building blocks and technical concepts of the data analysis process. It's content heavily relies and expands on the Pythons and the Pandas Library documentation.
        - It is designed to serve as a quickly scannable technical guide to Python and Pandas but by no means is meant to replace its formal documentation. Thoughout the book I constantly reffer to the fomal documentatio and well as highly reccomend the reader to further expand its knowledge by becoming familiar with its contents.
    
    
    B)Business Insight
        - This session is intended to provide examples of data analysis techniques and business concepts leveraging the knowledge acquired in section A. Learners will be able expand its knwoledge of data analysis from a practical business perspective.
        - Though out the book we use a simulated e-ccomerce site as a case study example to cover several data analysis practical applications involving data validation, inspecton, cleaning and manipulation. 
        - Recommended to Learners looking to enhance the undertanding of the use of data analysis for business
    C)Practice
        - This session includes practical exercies to help the learners consolidate the concepts reviewed in section A) and B). It is divided in 3 levels:
            - Foundational: Simple practical exercises designed re-inforce the understanding of foudational concepts
            - Mastery: Integrated exercises designed to help you fully master the concepts covered
            - Case Study:  Practical problems designed as a case study allowing the reader to tackle a business problem in a open ended format.

***

## How to Use this book

This book was designed in such a way that chapters and secions do not need to be reviewed in sequence. While newcommers to data analitics and Python will most likely want to start in chapter 1 and review it in sequence, learners that already have a foundation knowledge may use this book as a refference or as a source of practice.

Also, the 3 part design of the sections is intended to help make it scannable for quick passive learning reference of concepts in Section A and  B, while adopting a more hands-on quizz/tutorial stile approach in section C.

***

# Chapter 1 - Introduction to Python, Pandas and Jupyter

## Getting Set Up

Python is the main anlytical tool used thoughout this book. The first step to access all Python functionality is to install or update Python in your computer.
There are several diffent ways to perform this task: you can download and install a package directly from Python.org, instally it with multiple command line utilities or from a package manager.

### Anaconda
At the time of writing, Anaconda is the most popular Python distribution platform. Its biggest advantage is to allow an easy instalation and update of the standard Python libraries as well as other popular packages including Jupiter and the Pandas Library. Visit https://www.anaconda.com/products/individual and follow installation instructions.

### Jupyter

Jupyter is automatically installed with the anaconda distribution.
All code development and exercises will use Jupyter Notebook as the IDE (Integrated Development Enviroment). You may launch Jupyter though its though the Ananconda interface or directly using your computers command line terminas. See below for additional instructions:

A) Launching Jupiter thought the Anaconda user interface

B) Launching Jupiter on the command line

### Pandas
Pandas was automatically installed with the anaconda distribution and you only need to import it to your code as demonstrated below.

In [ ]:
import pandas as pd

## Brief History of Python


***

## Python Fundamentals

***

## Brief History of Pandas


***

## Pandas Fundamentals

***

In [16]:
import pandas as pd
import numpy as np
import random
from datetime import datetime as dt

In [139]:
ls data

categories.csv    order_detail.csv  products.csv
customers.csv     orders.csv

In [219]:
customers=pd.read_csv('Data/customers.csv')
categories=pd.read_csv('Data/categories.csv')
products=pd.read_csv('Data/products.csv')
orders=pd.read_csv('Data/orders.csv')
order_detail=pd.read_csv('Data/order_detail.csv')

#### customers

In [220]:
customers.head(10)

,name,sex,customer_id,street_address,zip_code,city,state,county,country
0,Mark Thomas,M,1,08582 Small Harbors Apt. 013,98275,Mukilteo,WA,Snohomish County,US
1,Justin Ramos,M,2,008 Lang Streets Apt. 502,21219,Sparrows Point,MD,Baltimore County,US
2,Mr. Michael Lang,M,3,315 Vernon Meadow Apt. 413,6106,Hartford,CT,Hartford County,US
3,Maurice Smith,M,4,4361 Hall Hills,37191,Woodlawn,TN,Montgomery County,US
4,Brenda Smith,F,5,663 Watson Lake Apt. 383,19388,West Chester,PA,Chester County,US
5,April Steele,F,6,047 Carpenter Lakes,12537,Hughsonville,NY,Dutchess County,US
6,Max Lara,M,7,6986 Melissa Prairie,52134,Chester,IA,Howard County,US
7,James Cruz,M,8,177 Wilson Views,46865,Fort Wayne,IN,Allen County,US
8,Jessica Henry,F,9,616 Joseph Crest Suite 693,98628,Klickitat,WA,Klickitat County,US
9,Ashley Jones,F,10,5142 Reyes Extension Suite 167,24102,Henry,VA,Franklin County,US

In [221]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            2345 non-null   object
 1   sex             2345 non-null   object
 2   customer_id     2345 non-null   int64
 3   street_address  2345 non-null   object
 4   zip_code        2345 non-null   int64
 5   city            2345 non-null   object
 6   state           2345 non-null   object
 7   county          2305 non-null   object
 8   country         2345 non-null   object
dtypes: int64(2), object(7)
memory usage: 165.0+ KB

In [222]:
customers.groupby(['sex']).agg({'sex':'count'})

      sex
sex
F    1115
M    1230

In [223]:
(
    customers.groupby('state')
    .agg({'state': 'count'})
    .rename(
    columns={'state': 'sum_of_customers'}).T
)

state,AE,AK,AL,AP,AR,AS,AZ,CA,CO,CT,...,TN,TX,UT,VA,VI,VT,WA,WI,WV,WY
sum_of_customers,22,11,43,9,47,1,39,141,25,21,...,30,158,14,81,1,22,36,48,35,10

In [224]:
# Show Step by Step of chaining operation
(
    customers.groupby('state')
    .agg({'state': 'count'})
    .rename(columns={'state': 'sum_of_customers'})
    .sort_values(by='sum_of_customers', ascending=False).head(20)
    .T
)

state,TX,CA,PA,NY,FL,IL,VA,MO,MI,NC,GA,OH,IA,MN,IN,KS,WI,AR,KY,OK
sum_of_customers,158,141,141,131,93,89,81,75,71,66,65,63,60,51,51,50,48,47,45,43

#### categories

In [225]:
categories

    category_id                   category_name
0             1                      Appliances
1             2                    Apps & Games
2             3          Arts, Crafts, & Sewing
3             4  Automotive Parts & Accessories
4             5                            Baby
5             6          Beauty & Personal Care
6             7                           Books
7             8                     CDs & Vinyl
8             9       Cell Phones & Accessories
9            10     Clothing, Shoes and Jewelry
10           11         Collectibles & Fine Art
11           12                       Computers
12           13                     Electronics
13           14                Garden & Outdoor
14           15          Grocery & Gourmet Food
15           16                        Handmade
16           17   Health, Household & Baby Care
17           18                  Home & Kitchen
18           19         Industrial & Scientific
19           20           Luggage & Travel Gear
20           21                     Movies & TV
21           22             Musical Instruments
22           23                 Office Products
23           24                    Pet Supplies
24           25                  Premium Beauty
25           26               Sports & Outdoors
26           27        Tools & Home Improvement
27           28                    Toys & Games
28           29                     Video Games

In [226]:
categories.count()

category_id      29
category_name    29
dtype: int64

#### products

In [227]:
products.head()

    product_code  cost   msrp  product_cat_code
0  PCOC-11542718    88   88.0                27
1  PCOE-42113615    51   51.0                16
2  PCOA-16076144    54   54.0                25
3  PCOC-05474067    32   32.0                 9
4  PCOE-78734701   133  133.0                25

In [228]:
products.count()

product_code        932
cost                932
msrp                932
product_cat_code    932
dtype: int64

In [229]:
(
    products.groupby('product_cat_code')
    .agg({'product_cat_code': 'count'})
    .rename(columns={'product_cat_code': 'products_per_category'})
    .sort_values(by='products_per_category', ascending=False)
    .head(10)

)

                  products_per_category
product_cat_code
6                                    40
25                                   39
4                                    39
13                                   38
16                                   36
2                                    36
14                                   36
10                                   36
11                                   35
18                                   35

In [215]:
(
    products.groupby('product_cat_code')
    .agg({'product_cat_code': 'count'})
    .rename(columns={'product_cat_code': 'products_per_category'})
    .sort_values(by='products_per_category', ascending=False)
    .tail(10)
)

                  products_per_category
product_cat_code
11                                  102
10                                  100
22                                   99
9                                    98
8                                    96
6                                    96
25                                   96
29                                   93
1                                    87
16                                   84

In [216]:
orders

NameError: name 'orders' is not defined

In [30]:
squares = []
for x in range(5):
    squares.append(lambda n=x: n**2)

In [33]:
squares[10]

IndexError: list index out of range